[run]
branch = True
source = api
omit =
    api/test_*.py
    api/migrations/*
    api/__init__.py
    api/apps.py
    */venv/*

[report]
show_missing = True
skip_covered = False
precision = 2
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if TYPE_CHECKING:

[html]
directory = htmlcov

[xml]
output = coverage.xml
