asgiref==3.11.1
boto3==1.43.83
dj-database-url==3.1.2
django-cors-headers==4.9.0
django-storages==1.14.6
Django==5.2.15
djangorestframework==3.17.1
docxtpl==0.20.2
et_xmlfile==2.0.0
gunicorn==26.2.0
openpyxl==3.1.5
pillow==12.2.0
psycopg[binary]==3.3.4
python-docx==1.2.0
python-dotenv==1.2.3
reportlab==5.0.1
sqlparse==0.5.5
tzdata==2026.2
whitenoise==6.12.0
