asgiref==3.11.1
python-docx>=1.1.0
Django==5.2.15
django-cors-headers==4.9.0
djangorestframework==3.17.1
et_xmlfile==2.0.0
openpyxl==3.1.5
pillow==12.2.0
reportlab>=4.0.0
sqlparse==0.5.5
tzdata==2026.2
